<!-- Label to display any error messages -->
<label class="error-message" *ngIf="errMessage">{{ errMessage }}</label>

<!-- To add notes -->

<div class="add-note-section">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Add a note
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill" class="mat-input">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Enter the title of note" name="title" [(ngModel)]="note.title">
        </mat-form-field>

        <mat-form-field appearance="fill" class="mat-input">
            <mat-label>Text</mat-label>
            <textarea matInput placeholder="Enter the content of note" name="text" [(ngModel)]="note.text"></textarea>
        </mat-form-field>

        <div class="mat-input">
            <button mat-raised-button color="primary" (click)="addNote()">Done</button>
        </div>
    </mat-expansion-panel>
</div>
<!-- Load and display the collection of notes from server as Material Cards with card title set to note title and card content set to note text  -->
<div class="example-card" id="notes-list" *ngIf="noteList && noteList.length">
    <h2 style="text-align: center;background-color: #3f51b5;color: white;padding: 5px;">Notes List</h2>
    <mat-card *ngFor="let note of noteList" style="margin-block: 1rem;">
        <mat-card-title>{{note.title}}</mat-card-title>
        <br>
        <mat-card-content>{{note.text}}</mat-card-content>
    </mat-card>
</div>



<!-- Load and display the collection of notes from server as Material Cards with card title set to note title and card content set to note text  -->